.menu-item{
    margin-bottom: 16px;
}

.menu-item-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 16px;
    gap: 15px;
}

.menu-item-title-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
}

.menu-item-header h3{
    font-size: 1.15rem;
    font-weight: 700;
    margin: 0;
}

.menu-item-header span{
    font-size: 1.15rem;
    font-weight: 700;
    white-space: nowrap;
}

.menu-item p{
    font-size: 1rem;
    line-height: 1.4;
}

.menu-item-variants {
    margin-top: 12px;
    padding-left: 24px; 
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 30px;
}

.variant-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.variant-row h4 {
    font-size: 1.15rem;
    font-weight: 700;
    margin: 0;
    color: #08060d; 
}

.variant-row span {
    font-size: 1.15rem;
    font-weight: 700;
    white-space: nowrap;
}

.menu-item-icon {
    height: 22px;
    object-fit: contain;
    mix-blend-mode: multiply;
    display: inline-block;
    vertical-align: middle;
}

.variant-item-icon {
    height: 18px;
    object-fit: contain;
    mix-blend-mode: multiply;
    display: inline-block;
    vertical-align: middle;
}